<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Test Feed</title>
  <entry>
    <title>Recent but old date</title>
    <link href="http://example.com/item1"/>
    <id>item1</id>
    <published>%s</published>
  </entry>
  <entry>
    <title>New item with old date</title>
    <link href="http://example.com/item3"/>
    <id>item3</id>
    <published>%s</published>
  </entry>
</feed>
