[Unit]
Description=Starbuck

[Service]
Type=simple
DynamicUser=yes
ExecStart=/usr/local/bin/starbuck -addr exp.astrophena.name
AmbientCapabilities=CAP_NET_BIND_SERVICE
StateDirectory=starbuck

[Install]
WantedBy=multi-user.target
