[Unit]
Description=tgfeed Admin Socket

[Socket]
ListenStream=/run/tgfeed/admin-socket
Service=tgfeed-admin.service
SocketGroup=service-sockets
SocketMode=0660

[Install]
WantedBy=sockets.target
