<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starlet Bot Debugger</title>
    <link rel="stylesheet" href="/{{ .MainCSS }}">
    <link rel="stylesheet" href="/{{ .BotCSS }}">
  </head>
  <body>
    <main>
      <h1>Starlet Bot Debugger</h1>
      <div id="chat-container">
        <div id="chat-messages"></div>
        <form id="message-form">
          <input type="text" id="message-input" placeholder="Type a message..." autocomplete="off">
          <button type="submit">Send</button>
        </form>
      </div>
      <h2>Intercepted Telegram API Calls</h2>
      <pre id="api-calls"></pre>
    </main>
    <script src="/{{ .BotJS }}"></script>
  </body>
</html>
