<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Logs</title>
  <link rel="stylesheet" href="/{{ .MainCSS }}">
  <link rel="stylesheet" href="/{{ .LogsCSS }}">
  <script defer src="/{{ .LogsJS }}"></script>
</head>
<body>
  <main>
    <h1>Logs</h1>
    <p><i>The last 300 lines are displayed, and new ones are streamed automatically.</i></p>
    <div id="log-container">{{ .Logs }}</div>
  </main>
</body>
</html>
