[Unit]
Description=starlet Admin Socket

[Socket]
ListenStream=/run/starlet/admin-socket
Service=starlet.service
SocketGroup=service-sockets
SocketMode=0660

[Install]
WantedBy=sockets.target
