[Unit]
Description=starlet Socket

[Socket]
ListenStream=/run/starlet/socket
Service=starlet.service
SocketGroup=service-sockets
SocketMode=0660

[Install]
WantedBy=sockets.target
