name: 'Deploy'
on:
  push:
    branches: ['master']
permissions:
  id-token: 'write'
  contents: 'read'
concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true
jobs:
  starlet:
    name: 'Starlet'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Check out'
        uses: 'actions/checkout@v5'
        with:
          # Show Git tags in version.
          fetch-depth: 0
      - name: 'Set up Go'
        uses: 'actions/setup-go@v6'
        with:
          go-version-file: 'go.mod'
      - name: 'Build'
        run: |
          mkdir -p build/bin build/etc/systemd/system
          go build -ldflags="-s -w -buildid=" -trimpath -o build/bin/starlet ./cmd/starlet
          cp cmd/starlet/*.service cmd/starlet/*.socket build/etc/systemd/system
          tar -czf archive.tar.gz -C build .
      - name: 'Deploy'
        run: 'go tool deploy -type service starlet archive.tar.gz'
  tgfeed:
    name: 'tgfeed'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Check out'
        uses: 'actions/checkout@v5'
        with:
          # Show Git tags in version.
          fetch-depth: 0
      - name: 'Set up Go'
        uses: 'actions/setup-go@v6'
        with:
          go-version-file: 'go.mod'
      - name: 'Build'
        run: |
          mkdir -p build/bin build/etc/systemd/system
          go build -ldflags="-s -w -buildid=" -trimpath -o build/bin/tgfeed ./cmd/tgfeed
          cp cmd/tgfeed/tgfeed.service build/etc/systemd/system
          cp cmd/tgfeed/tgfeed-admin.service build/etc/systemd/system
          cp cmd/tgfeed/tgfeed-admin.socket build/etc/systemd/system
          cp cmd/tgfeed/tgfeed.timer build/etc/systemd/system
          tar -czf archive.tar.gz -C build .
      - name: 'Deploy'
        run: 'go tool deploy -type service tgfeed archive.tar.gz'
