<!-- vim: set ft=gotplhtml: -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/{{ .Stylesheet }}" />
    <title>{{ .CmdName }} debug</title>
  </head>
  <body>
    <header>
      <h1>{{ .CmdName }} debug</h1>
      {{ if .MenuItems }}
        <nav>
          {{ range .MenuItems }}
            {{ .ToHTML }}
          {{ end }}
        </nav>
      {{ end }}
    </header>
    <main>
      <ul>
        {{ range .Links }}
          <li><a href="{{ .URL }}">{{ .Desc }}</a></li>
        {{ end }}
      </ul>
      <h2>Version</h2>
      <table>
        <tbody>
          {{ if and .Version.Commit .Version.BuiltAt }}
            <tr>
              <td>Commit</td>
              <td>
                <a
                  href="https://github.com/astrophena/tools/commit/{{ .Version.Commit }}"
                  >{{ .Version.Commit }}</a
                >
              </td>
            </tr>
            <tr>
              <td>Built at</td>
              <td>{{ .Version.BuiltAt }}</td>
            </tr>
          {{ end }}
          <tr>
            <td>Go version</td>
            <td>{{ .Version.Go }}</td>
          </tr>
          <tr>
            <td>Built for</td>
            <td>{{ .Version.OS }}/{{ .Version.Arch }}</td>
          </tr>
        </tbody>
      </table>
      <h2>Variables</h2>
      <table>
        <tbody>
          {{ range .KVs }}
            <tr>
              <td>{{ .K }}</td>
              <td><code>{{ .V }}</code></td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </main>
  </body>
</html>
