<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/{{ static "static/css/main.css" }}" />
    <title>{{ .StatusCode }} {{ .StatusText }}</title>
  </head>
  <body>
    <main>
      <h1>{{ .StatusCode }} {{ .StatusText }}</h1>
      {{ if eq .StatusCode 401 }}
        <figure>
          <img src="/{{ static "static/images/gtfo.jpg" }}" alt="GTFO"></img>
          <figcaption>You are not allowed to access this page without authentication.</figcaption>
        </figure>
      {{ else }}
        <p>That&apos;s all I know.</p>
      {{ end }}
    </main>
  </body>
</html>
